<div>
	<div class="modal-content">

		<div class = "modal-header">
			<h4 class = "modal-title">Purchase Order Information</h4>
			<button type="button" class="close" ng-click="close()">&times;</button>
		</div>
		
		<div class = "modal-body">
			<form class = "form-inline" ng-submit="savePurchaseOrder()">
				
				<div class="container">
				
					<div class = "form-group row" >
						<div class = "col-5">
							<label for="companyName">Company</label>
						</div>
						<div class = "col-7">
						<input
							class = "form-control" 
							ng-model = "purchaseOrder.purchaseOrderId.site.siteId.company.companyName" 
							disabled="disabled"
							required>
						</div>
					</div>
					
					<div class = "form-group row">
						<div class = "col-5">
							<label for="registrationStatus">Site Name </label>
						</div>
						<div class = "col-7">
							<input
								class = "form-control select" 
								ng-model = "purchaseOrder.purchaseOrderId.site.siteName"
								disabled="disabled" 
								required >
						</div>
					</div>
					
					<div class = "form-group row">
						<div class = "col-5">
							<label for="purchaseOrderNumber">PO Number</label>
						</div>
						<div class = "col-7">
							<input  type = "text" 
									class="form-control" 
									placeholder="Eg: PO-200" 
									ng-model="purchaseOrder.purchaseOrderId.purchaseOrderNumber"
									disabled="disabled" 
									required>
						</div>
					</div>
					
					<div class = "form-group row">
						<div class = "col-5">
							<label for="orderDate">Order Date</label>
						</div>
						<div class = "col-7">
							<input 
								type = "date" 
								class="form-control" 
								ng-model="purchaseOrder.orderDate"
								required>
						</div>
					</div>
					
					<div class = "form-group row">
						<div class = "col-5">
							<label for="additionalInformation">Comments</label>
						</div>
						
						<div class = "col-7">
							<input 
								type = "text" 
								class="form-control" 
								ng-model="purchaseOrder.additionalInformation"
								>
						</div>
					</div>
					
					
					<div class = "form-group row">
						<div class = "col-5">
							<label for="orderStatus">Status</label>
						</div>
						<div class = "col-7">
							<select 
								class = "form-control" 
								ng-model = "purchaseOrder.orderStatus" 
								ng-options="orderStatus for orderStatus in orderStatuses"
								required
								>
								<option value="">--Select One--</option>
							</select>
						</div>
					</div>
					
					<div class = "form-group row">
						<div class="col-5">
							<label for="orderStatusDate">Status Date</label>
						</div>
						<div class="col-7">
							<input 
								type = "date" 
								class="form-control" 
								ng-model="purchaseOrder.orderStatusDate"
								ng-required = "purchaseOrder.orderStatus"
								>
						</div>
					</div>
					
					
					<div class = "row">
						<button class = "btn btn-info" type = "button" ng-click="addItem()">Add Item</button>
					</div>
					
					<table class = "table table-sm table-bordered" ng-if='purchaseOrder.items.length > 0'>
						<thead>
							<tr class="row">
								<td class="col-2">Item Name</td>
								<td class="col-2">Brand</td>
								<td class="col-2">Quantity</td>
								<td class="col-1">UOM</td>
								<td class="col-2">Price</td>
								<td class="col-2">Comments</td>
								<td class="col-1">Action</td>							
							</tr>							
						</thead>
						
						<tbody>
							<tr ng-repeat="item in purchaseOrder.items" class="row">

								<td class = "form-control form-control-sm col-2">
									<input  type = "text"
											ng-model = "purchaseOrder.items[$index].orderItemId.item"
											uib-typeahead = "item as item.itemName for item in items | filter: $viewValue"
											typeahead-editable = "false"
											typeahead-on-select="itemSelected($item)"
											typeahead-focus-first = "true"
											ng-disabled = "!purchaseOrder.items[$index].isNew"
											required>
								</td>
								
								<td class = "form-control form-control-sm col-2">
									<input  type = "text"
											ng-model = "purchaseOrder.items[$index].orderItemId.brand"
											uib-typeahead = "brand as brand.brandName for brand in brands "
											typeahead-editable = "false"
											typeahead-on-select="brandSelected($index)"
											ng-disabled="!purchaseOrder.items[$index].isNew || !purchaseOrder.items[$index].orderItemId.item"
											required>
								</td>
								
								<td class = "form-control form-control-sm col-2">
									<input
										class = "small" 	
										type = "number"
										ng-model = "purchaseOrder.items[$index].quantity"
										ng-change = "itemEdited(purchaseOrder.items[$index])"
										step=".001"
										required>
								</td>
								
								<td class = "form-control form-control-sm col-1">
									<select  
										class = "form-control form-control-sm"
										ng-options = "uom for uom in uoms track by uom"
										ng-model = "purchaseOrder.items[$index].unitOfMeasurement"
										ng-change = "itemEdited(purchaseOrder.items[$index])"
										required>
										<option value = "">--Select One--</option>
								</select>
								</td>
								
								<td class = "form-control form-control-sm col-2">
									<input
										type = "number"
										step = "any"
										ng-model = "purchaseOrder.items[$index].price"
										ng-change = "itemEdited(purchaseOrder.items[$index])"
										required>
								</td>
								
								<td class = "form-control form-control-sm col-2">
									<input  
										class = "form-control form-control-sm"
										type = "text"
										ng-model = "purchaseOrder.items[$index].additionalInformation"
										ng-change = "itemEdited(purchaseOrder.items[$index])"
										>
								</td>
																
								<td class = "form-control form-control-sm col-1">
									<button type = "button" class = "btn btn-danger" ng-click = "deleteItem($index)">
										<span class="material-icons">delete</span>
									</button>
								</td>
							</tr>
						</tbody>
						
					</table>
					
					
					<div class = "form-group row">
					 	<div class = "col-5">
					 		<button type="submit" class="btn btn-primary">Save Purchase Order</button>
					 	</div>
					 	
					 </div>
					 
				</div>
					
			</form>
		</div>
		
	</div>
</div>